* {
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fbfbff;
}

.quiz_body {
  overflow: auto;
}


.navbar {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 97dvw;
  max-width: 97dvw;
  margin-top: 10px;
  border-radius: 15px;
  margin-inline: auto;
}

.contains{
  display: flex;
  flex-grow: 1;
  padding-inline: 4dvw;
}

.navbar-toggler {
  transition: all ease 0.2s;
}

.navbar-toggler:hover {
  transform: rotate(180deg);
}
.btn-close:hover {
  outline: 0;
  box-shadow: none;
  transform: rotate(45deg);
}

.btn-close {
  transition: ease 0.1s;
}

.nav-link{
  position: relative;
  transition: all .4s;
  width: max-content;
}

.nav-link::after{
  content: '';
  position: absolute;
  background: red;
  height: 2px;
  width: 100%;
  display: block;
  left: 0;
  bottom: 4px;
  opacity: 0;
  transition: all .2s;
}

.nav-link:hover::after {
  color: black;
  font-weight: 500;
  opacity: 1;
}
.active::before{
  content: '';
  background: red;
  height: 2px;
  width: 100%;
  display: block;
  left: 0;
  bottom: 4px;
  position: absolute;
}

.form-control:focus, .form-control:user-valid {
  border-color: transparent;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid rgb(20, 20, 20);
}

.form-control {
  height: 30px;
  min-width: 80px;
  padding-left: 25px;
  border: none;
  border-bottom: 1px solid rgb(20, 20, 20);
  background-color: transparent;
  border-radius: 0;
}

.form{
  position: relative;
}

.searchicon {
  position: absolute;
  left: 2px;
}

.main {
  margin-top: 100px;
  padding-inline: 3vw;
  display: flex;
  gap: 0;
  padding-top: 7dvh;
}

.containers{
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap-reverse;
  padding-left: 5dvh;
}

.hero {
  flex-grow: 1;
  object-fit: contain;
  min-width: 300px;
  max-width: 38vw;
  margin-right: 2dvw;
  background-position: center;
  transition: all ease .2s;
}

.hero:hover{
  filter: drop-shadow(30px 10px 7px rgb(201, 202, 202));
  transform: translateX(-3ch);
}

.homepage {
  margin-top: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title_main {
  font-size: 80px;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 10dvh;
}

.parag1 {
  max-width: 95%;
  padding-left: 5px;
}

.homepage .go-btn {
  max-width: fit-content;
  margin-left: 5px;
}

.drop-in {
  animation: drop-in 1s ease 200ms backwards;
}

.drop-in2 {
  animation: drop-in 1200ms ease 500ms backwards;
}

.dissolve{
  animation: dissolve 1s ease 500ms backwards;
}

/* For quiz page */


.main1 {
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 85dvh;
  max-height: 100dvh;
  margin-top: 80px;
  min-width: 97vw;
  margin-inline: auto;
  gap: 1.5vw;
}

.quiz-container {
  background-color: white;
  padding: 40px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
  padding: 2% 3% 0;
  min-width: 60vw;
  transition: opacity 0.3s ease;
}

.title1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.options {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding-inline: 20%;
}

.ansBtn:hover,
.ansBtn:active {
  background-color: #0056b3;
}

.next {
  margin-top: 50px;
}

.ansBtn {
  min-width: fit-content;
  text-wrap: balance;
  text-align: center;
  border-radius: 20px;
  min-height: 30px;
}

#back-btn {
  padding: 5px 20px;
  margin: 10px;
  border: 2px solid #007bff;
  border-radius: 5px;
  color: #007bff;
  cursor: pointer;
}

#back-btn:hover {
  border-color: #0056b3;
  color: #0056b3;
}

.main1 > .stats {
  background-color: white;
  padding: 40px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
  padding: 2% 5% 0;
}

#quiz-container {
  transition: opacity 0.1s ease;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

@keyframes dissolve {
  from {
    opacity: 0;
  }
  t0{
    opacity: 1;
  }
}

@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media screen and (max-width: 990px) {
  .containers{
    padding: 0;
    justify-content: center;
  }

  .login-btn{
    margin-top: 20px;
  }
  
}

@media screen and (max-width: 630px) {
  .nav-menu{
    width: fit-content;
  }

.login-btn{
  margin-top: 10px;
  display: flex;
  justify-items: center;
}


.title_main{
  font-size: 60px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 50px;
  text-align: center;
  padding: 0 20px;
}

.parag1{
  text-align: center;
}

.homepage .go-btn{
  padding: 5px 8px;
  font-size: 15px;
  margin-left: 20px;
  
}

}

@media screen and (max-width: 380px) {
  .navbar-brand{
    font-size: 18px;
    margin-left: 15px;
    margin-right: 0;
  }

  .form-control{
  display: none;
  }

  .searchicon{
    position: static;
    padding: 2px 6px 3px 6px;
    margin: 0;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: all ease .1s;
  }

  .searchicon:hover, .searchicon:active{
    transform: rotate(90deg);
  }
  
  .navbar-brand .span{
    display: none;
  }


  .title_main{
    font-size: 33px;
    letter-spacing: normal;
    line-height: 35px;
    font-weight: 600;
    padding: 0;
  }

  .homepage .go-btn{
    padding: 5px 8px;
    font-size: 13px;
    margin-left: 10px;
  }
  
}
