* {
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fbfbff;
  overflow-x: hidden;
}

.quiz_body {
  overflow: auto;
 
}


.navbar {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 97dvw;
  max-width: 97dvw;
  margin-top: 10px;
  border-radius: 15px;
  margin-inline: auto;
  position: sticky;
  top: 10px;
  z-index: 99999;
}

.contains {
  display: flex;
  flex-grow: 1;
  padding-inline: 4dvw;
  padding-block: 0.5em;
}

.navbar-toggler {
  transition: all ease 0.2s;
}

.navbar-toggler:hover {
  transform: rotate(180deg);
}
.btn-close:hover {
  outline: 0;
  box-shadow: none;
  transform: rotate(45deg);
}

.btn-close {
  transition: ease 0.1s;
}

.nav-link {
  font-size: 18px;
  position: relative;
  transition: all 0.4s;
  width: max-content;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.384);
}

.nav-link::after {
  content: "";
  position: absolute;
  background: rgba(0, 81, 255, 0.7);
  height: 0.151rem;
  width: 100%;
  display: block;
  left: 0;
  bottom: 4px;
  opacity: 0;
  transition: all 0.2s;
  border-radius: 5px;
}

.nav-link:hover::after {
  opacity: 1;
}
.active::before {
  content: "";
  background: rgba(0, 81, 255, 0.7);
  height: 0.151rem;
  width: 100%;
  display: block;
  left: 0;
  bottom: 4px;
  position: absolute;
  border-radius: 5px;
}

.form-control:focus,
.form-control:user-valid {
  border-color: transparent;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid rgb(20, 20, 20);
}

.form-control {
  height: 30px;
  min-width: 80px;
  padding-left: 25px;
  border: none;
  border-bottom: 1px solid rgb(20, 20, 20);
  background-color: transparent;
  border-radius: 0;
}

.form {
  position: relative;
}

.searchicon {
  position: absolute;
  left: 2px;
}

.main {
  padding-inline: 3vw;
  gap: 0;
}

/* Section 1 of homepage */

.containers {
  padding-top: 10dvh;
  align-items: self-start;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap-reverse;
  padding-inline: 5dvw;
  height: 90dvh;
}

.hero {
  object-fit: contain;
  min-width: 300px;
  max-width: 38vw;
  margin-right: 2dvw;
  margin-top: 5dvh;
  background-position: center;
  transition: all ease 0.2s;
  height: 400px;
  align-self: self-start;
}

.hero:hover {
  filter: drop-shadow(30px 10px 7px rgb(201, 202, 202));
  transform: translate(-3ch, -3ch);
}

.homepage {
  margin-top: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.title_main {
  font-size: 90px;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 95px;
  margin-bottom: 25px;
}

.parag1 {
  max-width: 90%;
  padding-left: 5px;
  font-size: 20px;
  margin-bottom: 35px;
}

.parag-hover {
  position: relative;
}

.parag-hover::before {
  content: "";
  position: absolute;
  background: rgb(0, 81, 255);
  border-radius: 2px;
  height: 130%;
  transition: width 0.3s ease;
  width: 0;
  z-index: -1;
  left: -2px;
}

.parag1:hover .parag-hover::before {
  width: 110%;
}
.parag1:hover .parag-hover {
  color: white;
}

.homepage .go-btn {
  max-width: fit-content;
  margin-left: 5px;
}

/* Section 2 of homepage */

#section2 {
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  padding-inline: 5vw;
  background: #f1f5fd;
  padding-top: 7vh;
  margin-bottom: 10vh;
}

.t2 {
  font-size: 80px;
}

.parag2 {
  font-size: 20px;
  text-indent: calc(2vw + 10px);
}

.s2 {
  flex: 1 1 40vw;
  min-height: 50vh;
}

.teenimg {
  flex: 1 1 40vw;
  min-width: 15em;
  max-width: 45em;
  margin-inline: auto;
  object-fit: contain;
  object-position: top;
  height: 22em;
  margin-bottom: 1em;
}

/* Section 3 of homepage */

#section3 .banner-list{
  display: flex;
  flex-wrap: wrap;
  min-height: 60vh;
  justify-content: center;
}
.t3 {
  font-size: 50px;
  margin-bottom: 10vh;
}
.banner .img{
  position: relative;
  z-index: -1;
  width: 280px;
}

.banner-list .banner{
  max-width: 90vw;
  height: fit-content;
  display: flex;
  gap: 10px;
  align-items: center;
  
  animation: bannerAnim 0.3s ease backwards;
  animation-delay: calc(0.1s * var(--i));
}

.banner .banner-cont {
  padding: 4em;
  min-height: 330px;
  font-size: 30px;
  display: none; 
  width: 80vw;
  border: 2px solid black;
  border-radius: 13px;
  position: relative;
  z-index: 999;
  padding: 0.5em 1.5em 2em 2em;
  box-shadow: rgba(100, 100, 111, 0.4) 1px 7px 29px 2px;
}

.banner .banner-cont::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 15px;
  border: 2px solid black;
  background: white;
  position: absolute;
  bottom: 9px;
  left: 9px;
  z-index: -2;
}

.banner.active .banner-cont {
  display: block; 
}

.red{
  background: rgb(143, 76, 76);
}
.yellow{
  background: rgb(183, 183, 27);
}
.orange{
  background-color: rgb(184, 132, 36);
}
.green{
  background: #10874e;
}
.blue{
  background-color: rgb(79, 123, 167);
}

.pink{
  background-color: rgb(166, 107, 135);
}

.banner .banner-text{
  position: absolute;
  top: 40%;
  left: 53%;
  transform: translate(-50%, -50%);
  z-index: 999;
  font-size: 35px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  width: fit-content;
}


/* Animations when load */
.drop-in {
  animation: drop-in 1s ease 200ms backwards;
}

.drop-in2 {
  animation: drop-in 1200ms ease 500ms backwards;
}

.dissolve {
  animation: dissolve 0.7s ease 500ms backwards;
}


/* For quiz page */
.contain{
  padding: 1.8rem;
}
.main1 {
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 85dvh;
  max-height: 100dvh;
  min-width: 97vw;
  margin-inline: auto;
  gap: 1.5vw;
  flex-wrap: wrap;
}

.quiz-container {
  background-color: white;
  padding: 40px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-grow: 1;
  padding: 2% 3% 0;
  transition: opacity 0.3s ease;
}

.title1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.options {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding-inline: 20%;
}

.ansBtn:hover,
.ansBtn:active {
  background-color: #0056b3;
}

.next {
  margin-top: 50px;
}

.ansBtn {
  min-width: fit-content;
  text-wrap: balance;
  text-align: center;
  border-radius: 20px;
  min-height: 30px;
}

#back-btn {
  padding: 5px 20px;
  margin: 10px;
  border: 2px solid #007bff;
  border-radius: 5px;
  color: #007bff;
  cursor: pointer;
}

#back-btn:hover {
  border-color: #0056b3;
  color: #0056b3;
}

.main1 > .stats {
  background-color: white;
  padding: 40px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-grow: 1;
  padding: 2% 5% 0;
}

#quiz-container {
  transition: opacity 0.1s ease;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

/* Screen for Tablet */
@media screen and (max-width: 990px) {
  .containers {
    padding-top: 0;
    justify-content: center;
    height: auto;
    margin-bottom: 20vh;
  }

  .hero {
    margin: 0;
  }

  .login-btn {
    margin-top: 20px;
  }

  .homepage {
    width: auto;
  }

  .title_main {
    font-size: 60px;
    line-height: 70px;
  }

  .parag1 {
    max-width: 100%;
  }

  #s3 {
    margin-top: 5em;
  }

  .t2 {
    margin-bottom: 0;
  }
}

/* Screen for large phone */

@media screen and (max-width: 630px) {
  .nav-menu {
    width: fit-content;
  }

  .login-btn {
    margin-top: 10px;
    display: flex;
    justify-items: center;
  }

  .title_main {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 50px;
    text-align: center;
    padding: 0 20px;
  }
  .parag1 {
    text-align: center;
  }
  .homepage {
    margin-top: 0;
  }

  .homepage .go-btn {
    padding: 7px 8px;
    font-size: 15px;
    max-width: 100%;
    margin-inline: 5vw;
  }

  .teenimg {
    height: auto;
  }
}

/* Screen for small phone */

@media screen and (max-width: 380px) {
  .navbar-brand {
    font-size: 18px;
    margin-left: 15px;
    margin-right: 0;
  }

  .form-control {
    display: none;
  }

  .searchicon {
    position: static;
    padding: 2px 6px 3px 6px;
    margin: 0;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: all ease 0.1s;
  }

  .searchicon:hover,
  .searchicon:active {
    transform: rotate(90deg);
  }

  .navbar-brand .span {
    display: none;
  }
  .containers {
    margin-top: 10vh;
    margin-bottom: 7vh;
  }
  .hero {
    height: 120px;
  }

  .homepage {
    margin-top: 10%;
  }

  .parag1 {
    font-size: 15px;
  }

  .title_main {
    font-size: 33px;
    letter-spacing: normal;
    line-height: 35px;
    font-weight: 600;
    padding: 0;
  }

  .homepage .go-btn {
    padding: 6px 15px;
    font-size: 13px;
  }

  .parag2 {
    font-size: 15px;
  }

  #s3 {
    margin-top: 0;
  }
}

@media screen and (min-width: 370px) and (max-width: 380px) {
  .title_main {
    margin-bottom: 15px;
  }
  .parag1 {
    padding-inline: 20px;
    margin-bottom: 15px;
  }
}

/* animation when screen loads */

@keyframes dissolve {
  from {
    opacity: 0;
  }
  t0 {
    opacity: 1;
  }
}

@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes bannerAnim{
  from{
    opacity: 0;
    transform: translateY(50px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
